* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #dda15e;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

header h1 {
    color: white;
    padding: 50px;
    font-size: 6em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    background-color: #606c38;
    border-radius: 0.5rem;
    padding: 1rem;
}

.card-title {
    margin: 1rem 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: green;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: black;
}
